{% extends "base.html" %}

{% block head_content %}

<style>

a {
    color: black;
}

</style>

{% endblock %}

{% block content %}

<div class="w3-container card w3-card-8" style="text-align: justify;">
  <p>Welcome!</p>
  <p>My name is Artem.</p>
  <p>Why I create this blog? This is because I want to learn new and the best way to do that is writing. I like to look for easy ways
    to implement something, simple and convenient solutions that understable to
    people. May be some information would be repeated with other
    internet sources, but I think that everyone needs to implement its own
    wheel to learn something.</p>
  <p>I was disappointed in the study theoretical material only. It tends to be
  forgotten over time without practical use. So, learn and write as much as possible! ^_^</p>
  <p>More about me you can find on my
    page: <a href="http://idfumg.com">idfumg.com</a></p>
  <p>You can contact me at <a href="mailto:idfumg@gmail.com">idfumg@gmail.com</a></p>
</div>

{% endblock %}
